body {
  background:#eeeeee; /*url('../images/bg.png');*/
}
h1 {
  text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);
}
h1, p.lead, h4 {
  color:#D91E63;
}
.container {
  margin:15px auto 0 auto;
  padding:30px;
}
.footer {
  border: 1px solid #262324;
  background-color: #eeeeee;
  margin:0 auto 15px auto;
  padding:10px 30px;
  text-align: center;
}
code {
  overflow:auto;
}
.alert {
  background-color: transparent;
  border: 2px solid #ff7200;
  color:#ff7200;
}
.alert-info {
  border: 2px solid #14A697;
  color:#14A697;
}
.alert-error {
  border: 2px solid #d81f2a;
  color:#d81f2a;
}
.alert-success {
  border: 2px solid #00a844;
  color:#00a844;
}