body {
  background:url('../images/bg.png');
}
h1, p.lead, h4 {
  color:#2d2d2d;
}
.container {
  background-color: #e6e6e6;
  border: 3px solid #2d2d2d;
  margin:15px auto 0 auto;
  padding:30px;
}
.footer {
  background-color: #D7D7D9;
  margin:0 auto 15px auto;
  padding:10px 30px;
  text-align: center;
}
code {
  overflow:auto;
}
.alert {
  background-color: transparent;
  border: 2px solid #ff7200;
  color:#ff7200;
}
.alert-info {
  border: 2px solid #00759f;
  color:#00759f;
}
.alert-error {
  border: 2px solid #d81f2a;
  color:#d81f2a;
}
.alert-success {
  border: 2px solid #00a844;
  color:#00a844;
}